In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

# df is the main dataset used in the project
df_news = pd.read_csv("https://raw.githubusercontent.com/EagleAdelaide/FinSen_Dataset/refs/heads/main/data.pptx/FinSen_US_Categorized_Timestamp.csv")
df_news.head(10)

,Title,Tag,Time,Content
0,"TSX Slightly Down, Books Weekly Gains",Stock Market,16/07/2023,"TSX Slightly Down, Books Weekly GainsUnited St..."
1,UnitedHealth Hits 4-week High,stocks,15/07/2023,UnitedHealth Hits 4-week HighUnited States sto...
2,Cisco Systems Hits 4-week Low,stocks,15/07/2023,Cisco Systems Hits 4-week LowUnited States sto...
3,AT&T Hits All-time Low,stocks,15/07/2023,AT&T Hits All-time LowUnited States stocksAT&T...
4,Microsoft Hits 4-week High,stocks,15/07/2023,Microsoft Hits 4-week HighUnited States stocks...
5,JPMorgan Hits 16-month High,stocks,15/07/2023,JPMorgan Hits 16-month HighUnited States stock...
6,US Export Prices Fall More than Expected,Export Prices MoM,15/07/2023,US Export Prices Fall More than ExpectedUnited...
7,Citigroup earnings above expectations at 1.37 USD,Earnings,15/07/2023,Citigroup earnings above expectations at 1.37 ...
8,US Treasury Yields Below Recent Highs,Government Bond 10Y,15/07/2023,US Treasury Yields Below Recent Highs United S...
9,Wells Fargo earnings above expectations at 1.2...,Earnings,15/07/2023,Wells Fargo earnings above expectations at 1.2...

In [2]:
# NASDAQ data
nasdaq = yf.Ticker("^IXIC")
df_nasdaq = nasdaq.history(start="2007-04-01", end="2023-07-30")
df_nasdaq.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2007-04-02 00:00:00-04:00,2425.360107,2427.939941,2409.040039,2422.260010,1784170000,0.0,0.0
2007-04-03 00:00:00-04:00,2432.300049,2456.169922,2432.300049,2450.330078,1932030000,0.0,0.0
2007-04-04 00:00:00-04:00,2451.939941,2461.489990,2448.689941,2458.689941,1933300000,0.0,0.0
2007-04-05 00:00:00-04:00,2457.649902,2471.340088,2455.600098,2471.340088,1537800000,0.0,0.0
2007-04-09 00:00:00-04:00,2478.020020,2478.679932,2464.570068,2469.179932,1714880000,0.0,0.0
2007-04-10 00:00:00-04:00,2468.129883,2479.459961,2468.030029,2477.610107,1834530000,0.0,0.0
2007-04-11 00:00:00-04:00,2477.760010,2478.510010,2452.050049,2459.310059,1957970000,0.0,0.0
2007-04-12 00:00:00-04:00,2455.719971,2480.409912,2448.709961,2480.320068,1905500000,0.0,0.0
2007-04-13 00:00:00-04:00,2479.689941,2491.939941,2468.229980,2491.939941,1834320000,0.0,0.0
2007-04-16 00:00:00-04:00,2500.550049,2519.030029,2500.550049,2518.330078,1779410000,0.0,0.0

In [3]:
sp = yf.Ticker("^SPX")
df_sp = sp.history(start="2007-04-01", end="2023-07-30")
df_sp.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2007-04-02 00:00:00-04:00,1420.829956,1425.489990,1416.369995,1424.550049,2875880000,0.0,0.0
2007-04-03 00:00:00-04:00,1424.270020,1440.569946,1424.270020,1437.770020,2921760000,0.0,0.0
2007-04-04 00:00:00-04:00,1437.750000,1440.160034,1435.079956,1439.369995,2616320000,0.0,0.0
2007-04-05 00:00:00-04:00,1438.939941,1444.880005,1436.670044,1443.760010,2357230000,0.0,0.0
2007-04-09 00:00:00-04:00,1443.770020,1448.099976,1443.280029,1444.609985,2349410000,0.0,0.0
2007-04-10 00:00:00-04:00,1444.579956,1448.729980,1443.989990,1448.390015,2510110000,0.0,0.0
2007-04-11 00:00:00-04:00,1448.229980,1448.390015,1436.150024,1438.869995,2950190000,0.0,0.0
2007-04-12 00:00:00-04:00,1438.869995,1448.020020,1433.910034,1447.800049,2770570000,0.0,0.0
2007-04-13 00:00:00-04:00,1447.800049,1453.109985,1444.150024,1452.849976,2690020000,0.0,0.0
2007-04-16 00:00:00-04:00,1452.839966,1468.619995,1452.839966,1468.329956,2870140000,0.0,0.0

In [4]:
df_main = yf.download(['^IXIC', '^SPX'], period='1mo').head(10)
list(df_main.columns.values)

C:\Users\kasim\AppData\Local\Temp\ipykernel_6776\4096548072.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_main = yf.download(['^IXIC', '^SPX'], period='1mo').head(10)
[*********************100%***********************]  2 of 2 completed

[('Close', '^IXIC'),
 ('Close', '^SPX'),
 ('High', '^IXIC'),
 ('High', '^SPX'),
 ('Low', '^IXIC'),
 ('Low', '^SPX'),
 ('Open', '^IXIC'),
 ('Open', '^SPX'),
 ('Volume', '^IXIC'),
 ('Volume', '^SPX')]